# ----------------------------
# Python Cache Files
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# ----------------------------
# Jupyter Notebook
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Virtual Environments
# ----------------------------
.env
.venv/
venv/
env/

# ----------------------------
# Dataset / Training Images
# ----------------------------
notebook/content/

# ----------------------------
# Model Files (Large)
# ----------------------------
*.h5
*.ckpt

# ----------------------------
# Logs / Temporary Files
# ----------------------------
*.log
*.tmp
*.out

# ----------------------------
# VSCode
# ----------------------------
.vscode/
